<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inspect with Chii</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 20px;
      font-size: 13px;
      font-family: Roboto;
    }
    body.platform-windows {
      font-family: 'Segoe UI', Tahoma, sans-serif;
    }
    body.platform-linux {
      font-family: Roboto, Ubuntu, Arial, sans-serif;
    }
    a {
      color: #1966d2;
    }
    .content-header {
      background: linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
      border-bottom: 1px solid #eee;
      font-size: 150%;
      padding: 20px 0 10px 0;
      z-index: 1;
      margin-bottom: 8px;
    }
    .description {
      margin: 1rem 0;
      font-size: .875rem;
      line-height: 2;
    }
    .targets, .description, .content-header {
      max-width: 800px;
    }
    .hidden {
      display: none;
    }
    .luna-data-grid img {
      height: 14px;
      width: 14px;
      margin: 0;
      padding: 0;
      margin-right: 2px;
      flex-shrink: 0;
      vertical-align: top;
    }
  </style>
</head>
<body>
  <div class="content-header">Pages</div>
  <div class="description">
    You can use this script to inject the chii target code into your web page.<br/>
    <a target="_blank" href="//{{domain}}{{basePath}}target.js">{{domain}}{{basePath}}target.js</a> <br/>
    Or just open the demo page <a target="_blank" href="//{{domain}}{{basePath}}test/demo.html">{{domain}}{{basePath}}test/demo.html</a> to play around with.<br/>
    <a target="_blank" href="https://github.com/liriliri/chii">Chii v{{version}}</a>
  </div>  
  <div class="targets hidden"></div>
  <script>
    window.domain = '{{domain}}';
    window.basePath = '{{basePath}}';
  </script>
  <script src="//{{domain}}{{basePath}}index.js"></script>
</body>
</html>